<template>
  <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch"
    data-kt-menu="true">
    <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item    me-lg-1">
      <router-link to="/" class="menu-link py-3">
        <span class="menu-title">Users</span>
        <span class="menu-arrow d-lg-none"></span>
      </router-link>
    </div>
    <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item    me-lg-1">
      <router-link to="/package" class="menu-link py-3">
        <span class="menu-title">Package</span>
        <span class="menu-arrow d-lg-none"></span>
      </router-link>
    </div>
    <div class="menu-item    me-lg-1">
      <router-link to="/products" class="menu-link py-3">
        <span class="menu-title">Products</span>
        <span class="menu-arrow d-lg-none"></span>
      </router-link>
    </div>
    <div class="menu-item    me-lg-1">
      <router-link to="/buyer" class="menu-link py-3">
        <span class="menu-title">Buyers</span>
        <span class="menu-arrow d-lg-none"></span>
      </router-link>
    </div>
    <div class="menu-item   me-lg-1">
      <router-link to="/sender" class="menu-link py-3">
        <span class="menu-title">Sender</span>
        <span class="menu-arrow d-lg-none"></span>
      </router-link>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<style lang="scss">
.menu {
  padding: 15px 0 15px 15px;
}
</style>
