<template>
  <div>
    <!--begin::Toolbar-->
    <toolbar page="Update User" page-create="/users"></toolbar>
    <!--end::Toolbar-->
    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
      <!--begin::Post-->
      <div class="content flex-row-fluid" id="kt_content">

        <!--begin::Toolbar-->
        <div class="my-5">
          <allert-success v-if="successCreate" title="Успешно" message="Запись успешно обновлена"></allert-success>
        </div>
        <!--end::Toolbar-->
        <!--begin::Row-->
        <div class="row g-6 g-xl-9">
          <div class="py-5">
            <form @submit.prevent="updateRecord">
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.name" required placeholder="Name"/>
              </div>
              <div class="input-group mb-5">
                <input type="email" class="form-control" v-model="form.email" required placeholder="E-mail"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.password"  placeholder="Пароль"/>
              </div>
              <div class="input-group mb-5">
                <button type="submit"  class="btn btn-success">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Post-->
    </div>
  </div>
</template>

<script>
import AllertSuccess from '../../components/allertSuccess'
import toolbar from '../../components/toolbar'

export default {
  name: 'PackageUpdate',
  components: { AllertSuccess, toolbar },
  data () {
    return {
      form: {
        name: '',
        email: ''
      },
      successCreate: false
    }
  },

  mounted () {
    this.getData()
  },

  methods: {
    getData () {
      this.$http.get(this.$hostname + 'users/' + this.$route.params.id)
        .then(response => {
          if (response.data.result === true) {
            this.form.name = response.data.data.name
            this.form.email = response.data.data.email
          }
        })
        .catch(error => {
          console.log(error)
        })
    },

    updateRecord () {
      const params = {
        name: this.form.name,
        email: this.form.email
      }
      if (this.form.password !== '') {
        params.password = this.form.password
      }
      this.successCreate = false
      this.$http.patch(this.$hostname + 'users/' + this.$route.params.id, params)
        .then(response => {
          console.log(response)
          if (response.data.result === true) {
            this.successCreate = true
          }
        })
        .catch(error => {
          console.log(error)
        })
    }
  }
}
</script>
