<template>
  <div>
    <!--begin::Toolbar-->
    <toolbar page="Create Buyer" page-create="/buyer"></toolbar>
    <!--end::Toolbar-->
    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
      <!--begin::Post-->
      <div class="content flex-row-fluid" id="kt_content">

        <!--begin::Toolbar-->
        <div class="my-5">
          <allert-success v-if="successCreate" title="Успешно" message="Запись успешно добавлена"></allert-success>
        </div>
        <!--end::Toolbar-->
        <!--begin::Row-->
        <div class="row g-6 g-xl-9">
          <div class="py-5">
            <form @submit.prevent="saveData">
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.name" required placeholder="Наименование"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.inn" required placeholder="ИНН"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.kpp" required placeholder="КПП"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.ogrn" required placeholder="ОГРН"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.address" required placeholder="Адрес"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.zip_code" required placeholder="Индекс"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.bank_details" required placeholder="Банк"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.bic" required placeholder="БИК"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.bank_address" required placeholder="Адрес банка"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.bank_account" required placeholder="Счет"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace (/\D/, '')" class="form-control"
                       v-model="form.account_us" required placeholder="Счет USD"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace (/\D/, '')" class="form-control"
                       v-model="form.account_eu" required placeholder="Счет EU"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.corr_account" required placeholder="Корр. Счет"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.swift_code" required placeholder="Swift code"/>
              </div>
              <div class="input-group mb-5">
                <button type="submit" class="btn btn-success">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Post-->
    </div>
  </div>
</template>

<script>
import AllertSuccess from '../../components/allertSuccess'
import toolbar from '../../components/toolbar'

export default {
  name: 'buyerCreate',
  components: { AllertSuccess, toolbar },
  data () {
    return {
      form: {
        account_eu: '',
        account_number: '',
        account_us: '',
        address: '',
        bank: '',
        bank_account: '',
        bank_address: '',
        bank_details: '',
        bic: '',
        corr_account: '',
        email: '',
        inn: '',
        kpp: '',
        name: '',
        ogrn: '',
        swift_code: '',
        where_corr_account: '',
        zip_code: ''

      },
      successCreate: false
    }
  },

  methods: {
    saveData () {
      this.successCreate = false
      this.$http.post(this.$hostname + 'buyer', this.form)
        .then(response => {
          console.log(response)
          if (response.data.result === true) {
            this.successCreate = true
            this.setDefaults()
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    setDefaults () {
      this.form.account_eu = ''
      this.form.account_number = ''
      this.form.account_us = ''
      this.form.address = ''
      this.form.bank = ''
      this.form.bank_account = ''
      this.form.bank_address = ''
      this.form.bank_details = ''
      this.form.bic = ''
      this.form.corr_account = ''
      this.form.email = ''
      this.form.inn = ''
      this.form.kpp = ''
      this.form.name = ''
      this.form.ogrn = ''
      this.form.swift_code = ''
      this.form.where_corr_account = ''
      this.form.zip_code = ''
    }
  }
}
</script>
