<template>
  <div>
    <!--begin::Toolbar-->
    <toolbar page="Update Buyer" page-create="/buyer"></toolbar>
    <!--end::Toolbar-->
    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
      <!--begin::Post-->
      <div class="content flex-row-fluid" id="kt_content">

        <!--begin::Toolbar-->
        <div class="my-5">
          <allert-success v-if="successCreate" title="Успешно" message="Запись успешно обновлена"></allert-success>
        </div>
        <!--end::Toolbar-->
        <!--begin::Row-->
        <div class="row g-6 g-xl-9">
          <div class="py-5">
            <form @submit.prevent="updateRecord">
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.name" required placeholder="Наименование"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.inn" required placeholder="ИНН"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.kpp" required placeholder="КПП"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.ogrn" required placeholder="ОГРН"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.address" required placeholder="Адрес"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.zip_code" required placeholder="Индекс"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.bank_details" required placeholder="Банк"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.bic" required placeholder="БИК"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.bank_address" required placeholder="Адрес банка"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.bank_account" required placeholder="Счет"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace (/\D/, '')" class="form-control"
                       v-model="form.account_us" required placeholder="Счет USD"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace (/\D/, '')" class="form-control"
                       v-model="form.account_eu" required placeholder="Счет EU"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control"
                       v-model="form.corr_account" required placeholder="Корр. Счет"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.swift_code" required placeholder="Swift code"/>
              </div>
              <div class="input-group mb-5">
                <button type="submit"  class="btn btn-success">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Post-->
    </div>
  </div>

</template>

<script>
import AllertSuccess from '../../components/allertSuccess'
import toolbar from '../../components/toolbar'

export default {
  name: 'SenderUpdate',
  components: { AllertSuccess, toolbar },
  data () {
    return {
      form: {},
      successCreate: false
    }
  },

  mounted () {
    this.getData()
  },

  methods: {
    getData () {
      this.$http.get(this.$hostname + 'buyer/' + this.$route.params.id)
        .then(response => {
          if (response.data.result === true) {
            this.form = response.data.data
          }
        })
        .catch(error => {
          console.log(error)
        })
    },

    updateRecord () {
      this.successCreate = false
      this.$http.patch(this.$hostname + 'buyer/' + this.form.id, this.form)
        .then(response => {
          if (response.data.result === true) {
            this.successCreate = true
          }
        })
        .catch(error => {
          console.log(error)
        })
    }
  }
}
</script>
