<template>
    <div>
      <!--begin::Toolbar-->
      <toolbar page="Sender" pageCreate="/sender"></toolbar>
      <!--end::Toolbar-->
      <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
        <!--begin::Post-->
        <div class="content flex-row-fluid" id="kt_content">
          <!--begin::Row-->
          <div class="row g-6 g-xl-9">
            <div class="py-5">
              <table class="table table-row-dashed table-row-gray-300 gy-7">
                <thead>
                <tr class="fw-bolder fs-6 text-gray-800">
                  <th>Name</th>
                  <th>Address</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <template >
                  <tr v-for="(item, index) in list" :key="index">
                    <td>{{ item.name }}</td>
                    <td>{{ item.address }}</td>
                    <td>
                      <router-link class="btn btn-primary me-2" :to="'sender/'+item.id">Edit</router-link>
                      <button @click.prevent="deleteItem(item.id)" class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--end::Row-->
        </div>
        <!--end::Post-->
      </div>
    </div>
</template>

<script>
import toolbar from '@/components/toolbar'

export default {
  name: 'SenderList',
  components: { toolbar },
  data () {
    return {
      list: []
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getData () {
      // eslint-disable-next-line no-undef
      this.$http
        .get(this.$hostname + 'sender')
        .then(response => (
          this.list = response.data.data
        ))
    },
    deleteItem (id) {
      this.$http
        .delete(this.$hostname + 'sender/' + id)
        .then(response => (
          this.list = response.data.data
        ))
    }
  }
}
</script>
