<template>
  <div>
    <!--begin::Toolbar-->
    <toolbar page="Update Package" page-create="/package"></toolbar>
    <!--end::Toolbar-->
    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
      <!--begin::Post-->
      <div class="content flex-row-fluid" id="kt_content">

        <!--begin::Toolbar-->
        <div class="my-5">
          <allert-success v-if="successCreate" title="Успешно" message="Запись успешно обновлена"></allert-success>
        </div>
        <!--end::Toolbar-->
        <!--begin::Row-->
        <div class="row g-6 g-xl-9">
          <div class="py-5">
            <form @submit.prevent="updateRecord">
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.title" required placeholder="Наименование на русском"/>
              </div>
              <div class="input-group mb-5">
                <input type="text" class="form-control" v-model="form.title_en" required placeholder="Наименование на английском"/>
              </div>
              <div class="input-group mb-5">
                <button type="submit"  class="btn btn-success">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Post-->
    </div>
  </div>
</template>

<script>
import AllertSuccess from '../../components/allertSuccess'
import toolbar from '../../components/toolbar'

export default {
  name: 'PackageUpdate',
  components: { AllertSuccess, toolbar },
  data () {
    return {
      form: {
        title: '',
        title_en: ''
      },
      successCreate: false
    }
  },

  mounted () {
    this.getData()
  },

  methods: {
    getData () {
      this.$http.get(this.$hostname + 'package/' + this.$route.params.id)
        .then(response => {
          if (response.data.result === true) {
            this.form = response.data.data
          }
        })
        .catch(error => {
          console.log(error)
        })
    },

    updateRecord () {
      this.successCreate = false
      this.$http.patch(this.$hostname + 'package/' + this.form.id, this.form)
        .then(response => {
          console.log(response)
          if (response.data.result === true) {
            this.successCreate = true
          }
        })
        .catch(error => {
          console.log(error)
        })
    }
  }
}
</script>
