<template>
  <div>
    <!--begin::Toolbar-->
    <toolbar page="Package" page-create="/package"></toolbar>
    <!--end::Toolbar-->
    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
      <!--begin::Post-->
      <div class="content flex-row-fluid" id="kt_content">

        <!--begin::Row-->
        <div class="row g-6 g-xl-9">
          <div class="py-5">
            <table class="table table-row-dashed table-row-gray-300 gy-7">
              <thead>
              <tr class="fw-bolder fs-6 text-gray-800">
                <th>Name</th>
                <th>Name En</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in list" :key="index">
                  <td>{{ item.title }}</td>
                  <td>{{ item.title_en }}</td>
                  <td>
                    <router-link class="btn btn-primary me-2" :to="'package/'+item.id">Edit</router-link>
                    <button @click.prevent="deleteItem(item.id)" class="btn btn-danger">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Post-->
    </div>
  </div>
</template>

<script>
import toolbar from '../../components/toolbar'

export default {
  name: 'PackageList',
  components: { toolbar },
  data () {
    return {
      list: []
    }
  },
  mounted () {
    this.getPackage()
  },
  methods: {
    getPackage () {
      this.$http.get(this.$hostname + 'package', this.form)
        .then(response => {
          console.log(response.data)
          this.list = response.data.data
        })
        .catch(error => {
          console.log(error)
        })
    },
    deleteItem (id) {
      this.$http
        .delete(this.$hostname + 'package/' + id)
        .then(response => (
          this.list = response.data.data
        ))
    }
  }
}
</script>
