<template>
  <div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
      <!--begin::Wrapper-->
      <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
        <nav-top></nav-top>
        <!--begin::Container-->
        <router-view></router-view>
        <!--end::Container-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Page-->
  </div>
</template>
<script>
import NavTop from '@/components/navTop'
export default {
  components: { NavTop }
}
</script>
